.container {
    font-family: 'Raleway', sans-serif;
}

.jumbotron {
    background-color: #5F4A8C;
    color: white;
}

input {
    background-color: #5E608C;
    color: white;
}

h1 {
    color: aqua;
}