<nav class="navbar navbar-expand-sm">
    <a class="navbar-brand" href="#"><img src="assets/images/icon/logo3.png" width="80px"></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item ">
                <a class="nav-link" routerLink = '/' routerLinkActive="{{estiloActivo}} fa-spin">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink = '/about' routerLinkActive="{{estiloActivo}} fa-spin">Ruta dinámica</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink = '/loteria' routerLinkActive="{{estiloActivo}} fa-spin">Loteria</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink = '/calculadora' routerLinkActive="{{estiloActivo}} fa-spin"><i class="fas fa-calculator"></i> Calculadora</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink = '/tuberias' routerLinkActive="{{estiloActivo}} fa-spin">Tuberias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink = '/estructuras' routerLinkActive="{{estiloActivo}} fa-spin">Estructuras</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink = '/formulario' routerLinkActive="{{estiloActivo}} fa-spin">Formulario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink = '/crudlocal' routerLinkActive="{{estiloActivo}} fa-spin"><i class="fas fa-sticky-note" routerLinkActive='fa-spin'></i> Crud Local</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink = '/crud' routerLinkActive="{{estiloActivo}} fa-spin">Crud </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink = '/articulos' routerLinkActive="{{estiloActivo}} fa-spin"><i class="far fa-newspaper"></i> Articulos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink = '/listaPerfiles' routerLinkActive="{{estiloActivo}} fa-spin"><i class="fas fa-user-friends" routerLinkActive='fa-spin'></i> Lista Perfiles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink = '/grafica' routerLinkActive="{{estiloActivo}} fa-spin">Gráfica</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink = '/mapa' routerLinkActive="{{estiloActivo}} fa-spin">Mapa</a>
            </li>
        </ul>
        <ul class="navbar-nav mt-2 mt-lg-0">
            <li class="nav-item dropdown" routerLinkActive="{{estiloActivo}}">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Usuario</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <ng-template [ngIf]='!fnLogged()' [ngIfElse]='salir'>
                        <a class="dropdown-item" routerLink = '/registro' routerLinkActive="{{estiloActivo}}">Registro</a>
                        <a class="dropdown-item" routerLink = '/login' routerLinkActive="{{estiloActivo}}">Login</a>
                    </ng-template>
                    <ng-template #salir>
                            <a class="dropdown-item" routerLink='/perfil' routerLinkActive="{{estiloActivo}}">Perfil</a>
                            <a class="dropdown-item" (click)="doLogout()" routerLink='.'>Logout <i class="fas fa-sign-out-alt" routerLinkActive='fa-spin'></i></a>
                    </ng-template>
                </div>
            </li>
        </ul>
    </div>
</nav>