<ul>
    <li [ngClass]='{"text-white bg-dark": nota.idUser}' *ngFor="let nota of notas" (click)="nota.idUser ? formNuevo.patchValue(nota):formNuevo.reset()">{{nota.titulo}}: {{nota.contenido}}</li>
</ul>
<div *ngIf='creada' class="alert alert-success" role="alert">
  <h4 class="alert-heading">Nota creada correctamente</h4>
</div>
<div class="alert alert-danger" role="alert" *ngIf='mensaje'>
    <strong>{{mensaje}}</strong>
</div>
<br>
<h5>Formulario con formGroup</h5>
<form [formGroup]='formNuevo'(ngSubmit)='crearNota(formNuevo.value)'>
    <input class="form-control" type="text" formControlName = "titulo" placeholder="Título..."> 
    <input class="form-control" type="text" formControlName = "contenido" placeholder="Contenido..."> 
    <button type="submit" class="btn btn-primary btn-block" *ngIf='!formNuevo.value.id; else editar' [disabled]='formNuevo.invalid'>Crear nota</button>
    <ng-template #editar>
        <button type="button" class="btn btn-danger btn-block" (click)='eliminarNota()' [disabled]='!formNuevo.value.id'>Eliminar nota</button>
        <button type="button" class="btn btn-success btn-block" (click)='editarNota()' [disabled]='!formNuevo.invalid'>Editar nota</button>
        <button type="button" class="btn btn-secondary btn-block" (clickl)='formNuevo.reset()'>Cancelar</button>
    </ng-template>
</form>
<br>
<h5>Formulario con ngModel</h5>
<div class="input-group">
    <input class="form-control" type="text" [(ngModel)]="notaNueva.titulo" placeholder="Título">
    <input class="form-control" type="text" [(ngModel)]="notaNueva.contenido" placeholder="Contenido">
    <button class="btn btn-primary btn-block" (click)="crearNota(notaNueva)">Insertar nota</button>
</div>
<br>
<div class="input-group">
    <input (input)='buscarConRetraso()' class="form-control" type="text" [(ngModel)]="busqueda" placeholder="Buscar notas...">
</div>